In [2]:
import requests
import csv
import os
import pandas as pd
from api_keys import google_key
import gmaps

In [5]:
csvpath = os.path.join('.', 'data', 'cities_data.csv')

datafile = open(csvpath)
data = csv.DictReader(datafile)
data_df = pd.DataFrame(data)
data_df

,City_ID,City,Country,Latitude,Longitude,Max_Temp(F),Humidity(%),Cloudiness,Wind_Speed(MPH)
0,1,souillac,mu,-20.5167,57.5167,84.36,63,20,13.06
1,2,norman wells,ca,65.282,-126.8329,-24.36,82,100,6.26
2,3,busselton,au,-33.65,115.3333,74.32,53,100,17.38
3,4,vaini,to,-21.2,-175.2,84.2,84,100,11.63
4,5,iqaluit,ca,63.7506,-68.5145,23,91,100,17.6
5,6,kumluca,tr,36.3703,30.2869,65.66,50,5,4.21
6,7,hermanus,za,-34.4187,19.2345,73.72,62,1,8.63
7,8,rikitea,pf,-23.1203,-134.9692,79.18,68,1,10.67
8,9,broome,au,-17.9667,122.2333,86,69,19,12.71
9,10,georgetown,sh,-7.9333,-14.4167,78.4,82,3,17.4

In [43]:
locations = [[float(data_df.loc[x,'Latitude']),float(data_df.loc[x,'Longitude'])] for x in range(len(data_df))]
weights = [int(data_df.loc[x,'Humidity(%)']) for x in range(len(data_df))]

gmaps.configure(api_key=google_key)
fig = gmaps.figure(map_type='HYBRID', center=(46.0, -100.0), zoom_level = 2)
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))

In [55]:
data_df['Max_Temp(F)'] = [float(data_df.loc[x,'Max_Temp(F)']) for x in range(len(data_df))]
data_df['Humidity(%)'] = [float(data_df.loc[x,'Humidity(%)']) for x in range(len(data_df))]
data_df['Cloudiness'] = [float(data_df.loc[x,'Cloudiness']) for x in range(len(data_df))]

filt = ((data_df['Max_Temp(F)']>=70) & (data_df['Max_Temp(F)']<=90) & (data_df['Humidity(%)']<=85) & (data_df['Cloudiness']<=70))
ideal_df = data_df.loc[filt].reset_index()

ideal_locations = [[float(ideal_df.loc[x,'Latitude']),float(ideal_df.loc[x,'Longitude'])] for x in range(len(ideal_df))]

fig = gmaps.figure(map_type='HYBRID', center=(1.0, -100.0), zoom_level = 2)
heatmap = gmaps.heatmap_layer(ideal_locations)
heatmap.max_intensity = 2
heatmap.point_radius = 20
fig.add_layer(heatmap)
fig

Figure(layout=FigureLayout(height='420px'))

In [60]:
for x in range(len(ideal_df)):
    idealcity = ideal_df['City']
    ideallat = ideal_df['Latitude']
    ideallat = ideal_df['Longitude']
    gapi_url = "https://maps.googleapis.com/maps/api/place/textsearch/json?query=hotel+idealcity&sensor=false&location=ideallat,ideallng&radius=5000&key=google_key"